<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#4DA5F4">
    <meta name="csrf-token" content="MFD51vYyzp+LTqq27woifqWjX2rwLcg5OKxGw=">
    <title><%= title %></title>
    <link rel="shortcut icon" href="/favicon.png">
    <!-- Latest compiled and minified CSS -->
    <link rel='stylesheet' href='/stylesheets/eb.css' />



    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="javascripts/account.js"></script>


</head>
<body>

<% include ./partials/header %>

<div id="account" class="container">
    <div class="page-header"></div>
    <h3>Profile Information</h3>
    <hr>
    <form class="form-horizontal" action="/account/profile" method="POST"><input type="hidden" name="_csrf"
                                                                                 value="w6iL0h295l9OQbXx/nOr20zXxeab4mU3doMKY=">
        <div class="form-group"><label class="col-sm-3 control-label" for="email">Email</label>
            <div class="col-sm-7"><input class="form-control" type="email" name="email" id="email"
                                         value="<%= user.email%>"></div>
        </div>
        <div class="form-group"><label class="col-sm-3 control-label" for="name">Name</label>
            <div class="col-sm-7"><input class="form-control" type="text" name="name" id="name" value="<%= user.displayName%>"></div>
        </div>
        <div class="form-group"><label class="col-sm-3 control-label">Gender</label>
            <div class="col-sm-6"><label class="radio col-sm-3"><input type="radio" name="gender" value="male"
                                                                       data-toggle="radio"><span>Male</span></label><label
                        class="radio col-sm-3"><input type="radio" name="gender" value="female" data-toggle="radio"><span>Female</span></label><label
                        class="radio col-sm-3"><input type="radio" name="gender" value="other" data-toggle="radio"><span>Other</span></label>
            </div>
        </div>
        <div class="form-group"><label class="col-sm-3 control-label" for="location">Location</label>
            <div class="col-sm-7"><input class="form-control" type="text" name="location" id="location" value="<%= user.location%>"></div>
        </div>
        <div class="form-group"><label class="col-sm-3 control-label" for="location">University</label>
            <div class="col-sm-7"><input class="form-control" type="text" name="university" id="university"></div>
        </div>
        <div class="form-group"><label class="col-sm-3 control-label" for="website">Website</label>
            <div class="col-sm-7"><input class="form-control" type="text" name="website" id="website"></div>
        </div>
        <div class="form-group"><label class="col-sm-3 control-label">Gravatar</label>
            <div class="col-sm-4"><img class="profile"
                                       src="<%= user.image %>"
                                       width="100" height="100"></div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-4">
                <button class="btn btn btn-primary" type="submit"><i class="fa fa-pencil"></i>Update Profile</button>
            </div>
        </div>
    </form>

    <div class="page-header"><h3>API Keys</h3></div>
    <form class="form-horizontal" action="/account/password" method="POST"><input type="hidden" name="_csrf"
                                                                                  value="w6iL0h295l9OQbXx/nOr20zXxeab4mU3doMKY=">
        <div class="form-group"><label class="col-sm-3 control-label" for="apikey">API Key</label>
            <div class="col-sm-7"><input class="form-control" type="text" name="apikey" id="apikey"></div>
            <button type="button" class="btn btn-success apkey">Refresh</button>
        </div>
        <div class="form-group"><label class="col-sm-3 control-label" for="apisec">API Secret</label>
            <div class="col-sm-7"><input class="form-control" type="text" name="apisec"
                                         id="apisec"></div>
            <button type="button" class="btn btn-success apsec">Refresh</button>
        </div>

    </form>

</div>
<% include ./partials/footer %>

<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css' />
<!-- Bootstrap core JavaScript================================================== -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>



<script src="https://cdn.rawgit.com/jashkenas/underscore/1.5.2/underscore.js"></script>
<script src="https://cdn.rawgit.com/jashkenas/backbone/1.1.0/backbone.js"></script>

</body>
</html>